#red{
	font-family:Literata;
	 
}
#brand{
	font-weight:400px;
	font-size:20px;
}

#mamu{
	color:white;
}

.icon{
	color:white;
}



#picture{
	width: 100%;
}

#selected{
	width:100%;
}

.contain {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: normal;
}

.blob{
	position: relative;
  	text-align: center;
  	color: white;
}

#meow{
	margin-bottom: 30px;
}
.pict{
	position:relative;
	top:0;
	left:0;
}
.arrow{
		  bottom: -2rem;
		  left: 50%;
		  margin-left:-20px;
		  width: 40px;
		  height: 40px;
		  position: absolute;
		  bottom: 5px;
		  left: 850px;
		  

		  /**
		   * Dark Arrow Down
		   */
		  background-image: url("https://www.iconsdb.com/icons/preview/white/arrow-188-xxl.png");
		  background-size: contain;
		}

.bounce {
  	animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.kaala{
	font-size: 400px;
	font-weight: bold;
}